<div class="text-field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>

<div class="text-field">
  <%= form.label :starts_at %>
  <%= form.date_select :starts_at %>
</div>

<div class="text-field">
  <%= form.label :ends_at %>
  <%= form.date_select :ends_at %>
</div>
