<div class="cohorts">
  <h2><%= t(".title") %></h2>

  <div class="cohorts-list">
    <% if @cohorts %>
      <% @cohorts.each do |cohort| %>
        <p><%= link_to cohort.name, cohort_path(cohort) %></p>
      <% end %>

      <%= link_to_prev_page @cohorts, t(".previous") %>
      <%= link_to_next_page @cohorts, t(".next") %>
    <% else %>
      <p><%= t(".no_cohorts") %></p>
    <% end %>
  </div>

  <div class="other-links">
    <% if current_user.is_admin? %>
      <div><%= link_to t(".new"), new_cohort_path %></div>
    <% end %>
  </div>
</div>
