<div class="cohort">
  <h2><%= @cohort.name %></h2>
  <p>Starts on <%= @cohort.starts_at.to_formatted_s(:long_ordinal) %></p>
  <p>Ends on <%= @cohort.ends_at.to_formatted_s(:long_ordinal) %></p>

  <div class="cohort-relationships">
    <% if @relationships.present? %>
      <% @relationships.each do |relationship| %>
        <p><%= t(".mentor") %>: 
        <% if relationship.mentor.present? %>
          <%= link_to relationship.mentor.full_name, user_path(relationship.mentor) %>, 
        <% else %>
          <%= t(".unassigned") %>,
        <% end %>
        <%= t(".mentee") %>: 
        <% if relationship.mentee.present? %>
          <%= link_to relationship.mentee.full_name, user_path(relationship.mentee) %>
        <% else %>
          <%= t(".unassigned") %>
        <% end %>
        </p>
      <% end %>

      <%= link_to_prev_page @relationships, t(".previous") %>
      <%= link_to_next_page @relationships, t(".next") %>
    <% else %>
      <p><%= t(".no_users") %></p>
    <% end %>
  </div>

  <div class="other-links">
    <div><%= link_to t(".edit"), edit_cohort_path(@cohort) %></div>
    <div><%= link_to t(".back"), cohorts_path %></div>
    <% if current_user.is_admin? %>
      <div><%= link_to t(".new"), new_cohort_path %></div>
    <% end %>
  </div>
</div>
