<div class="cohort">
  <h2><%= @cohort.name %></h2>

  <div class="cohort-relationships">
    <% if @relationships %>
      <% @relationships.each do |relationship| %>
        <p>
          Mentor: <%= link_to relationship.mentor.full_name, user_path(relationship.mentor) %>, Mentee: <%= link_to relationship.mentee.full_name, user_path(relationship.mentor) %>
        </p>
      <% end %>

      <%= link_to_prev_page @relationships, t(".previous") %>
      <%= link_to_next_page @relationships, t(".next") %>
    <% else %>
      <p><%= t(".no_users") %></p>
    <% end %>
  </div>


  <div class="other-links">
    <%= link_to t(".back"), cohorts_path %>
    <% if current_user.is_admin? %>
      <div><a href="#"><%= t(".new") %></a></div>
    <% end %>
  </div>
</div>
