<div class="relationship">
  <h2><%= t(".title") %> <%= @user.full_name %> <%= t(".#{@desired_user_type}") %></h2>

  <div class="relationship-form">
    <p>Cohort: <%= @relationship.cohort.name %></p>

    <%= form_for @relationship do |form| %>
      <% if @relationship.mentor.nil? %>
        <div class="select-field">
          <%= label_tag :mentor, t(".select_mentor") %>
          <%= collection_select(:mentor, :mentor_id, @users, :id, :full_name) %>
        </div>

        <div class="select-field">
          <%= collection_select(:mentee, :mentee_id, [@user], :id, :full_name, {}, { hidden: true }) %>
        </div>
      <% elsif @relationship.mentee.nil? %>
        <div class="select-field">
          <%= label_tag :mentee, t(".select_mentee") %>
          <%= collection_select(:mentee, :mentee_id, @users, :id, :full_name) %>
        </div>

        <div class="select-field">
          <%= collection_select(:mentor, :mentor_id, [@user], :id, :full_name, {}, { hidden: true }) %>
        </div>
      <% end %>

      <div class="submit"><%= submit_tag t(".submit") %></div>
    <% end %>
  </div>

  <div class="other-links">
    <div><%= link_to t(".cancel"), cohort_path(@relationship.cohort) %></div>
  </div>
</div>
