<div class="profile-details">
  <h5 class="card-title">
    <%= @user.full_name %>
  </h5>

  <div class="row">
    <div class="col-4">
      <p>Email:</p>
    </div>
    <div class="col-8">
      <p class="card-text"><%= @user.email %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p>Position:</p>
    </div>
    <div class="col-8">
      <p class="card-text"><%= @user.position || 'N/A' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p>Company:</p>
    </div>
    <div class="col-8">
      <p class="card-text"><%= @user.company || 'N/A' %></p>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <p>Experience (years):</p>
    </div>
    <div class="col-8">
      <p class="card-text"><%= @user.experience %></p>
    </div>
  </div>
</div>
