<%= form_for @user do |form| %>
  <div class="text-field">
    <%= form.label :position %>
    <%= form.text_field :position %>
  </div>

  <div class="text-field">
    <%= form.label :company %>
    <%= form.text_field :company %>
  </div>

  <div class="text-field">
    <%= form.label :experience %>
    <%= form.number_field :experience_in_years, in: 1..40, step: 1 %>
  </div>

  <div class="submit-field">
    <%= form.submit %>
  </div>
<% end %>
