<div class="profile-details">
  <div>
    <p>Name: <%= @user.full_name %></p>
  </div>
  <div>
    <p>Email: <%= @user.email %></p>
  </div>
  <div>
    <p>Position: <%= @user.position || 'N/A' %></p>
  </div>
  <div>
    <p>Company: <%= @user.company || 'N/A' %></p>
  </div>
  <div>
    <p>Experience (years): <%= @user.experience %></p>
  </div>
</div>
