<div class="applications">
  <h2><%= t(".title") %></h2>

  <div class="applications-pending-mentors">
    <h5>Mentors</h5>
    <% if @mentors_pending_approval.any? %>
      <% @mentors_pending_approval.each do |mentor_user| %>
        <p><%= mentor_user.full_name %></p>
      <% end %>

      <%= link_to t(".more-applications"), applications_all_path(type: 'mentors') %>
    <% else %>
      <p>No mentors are waiting on us yet.</p>
    <% end %>
  </div>

  <div class="applications-pending-mentees">
    <h5>Mentees</h5>
    <% if @mentees_pending_approval.any? %>
      <% @mentees_pending_approval.each do |mentee_user| %>
        <p><%= mentee_user.full_name %></p>
      <% end %>

      <%= link_to t(".more-applications"), applications_all_path(type: 'mentees') %>
    <% else %>
      <p>No mentees are waiting on us yet.</p>
    <% end %>
  </div>

  <div class="other-links">
    <%= link_to t(".profile"), user_path(current_user) %>
  </div>
</div>
