<div class="profile">
  <h2><%= t(".title") %></h2>

  <div class="user-edit">
    <%= form_for @user do |form| %>
      <div class="text-field">
        <%= form.label :first_name %>
        <%= form.text_field :first_name %>
      </div>

      <div class="text-field">
        <%= form.label :last_name %>
        <%= form.text_field :last_name %>
      </div>

      <div class="text-field">
        <%= form.label :email %>
        <%= form.text_field :email, type: 'email' %>
      </div>
      
      <%= render partial: '/users/details_form', object: @user %>
    <% end %>
  </div>

  <div class="other-links">
    <%= link_to t(".cancel"), user_path(@user) %>
  </div>
</div>
