<div id="clearance" class="sign-up">
  <h2><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="form-group">
      <%= form.submit class: 'btn btn-primary btn-raised'%>
    </div>

    <div class="other-links">
      <%= link_to t(".login"), login_path %>
    </div>
  <% end %>
</div>
