<div class="profile">
  <h2>
  <% if current_user == @user %>My<% else %>
    <%= @user.first_name %>'s
  <% end %> <%= t(".title")%>
  </h2>

  <% if @user.requires_details? %>
    <%= render partial: '/users/details_form', object: @user %>
  <% else %>
    <%= render partial: '/users/details', object: @user %>
  <% end %>

  <div class="other-links">
  <% if current_user == @user %>
    <p><%= link_to t(".change_password"),
    edit_user_password_url(current_user) %></p>
    <p><%= link_to t(".edit"), edit_user_url(current_user) %></p>
  <% else %>
    <p><%= link_to t(".show"), user_path(current_user) %></p>
  <% end %>
  </div>
</div>
