<div class="profile">
  <h2><%= @user.first_name %>'s <%= t(".title")%></h2>

  <% if @user.requires_details? %>
    <%= render partial: '/users/details_form', object: @user %>
  <% else %>
    <%= render partial: '/users/details', object: @user %>
  <% end %>

  <div class="other-links">
  <% if current_user == @user %>
    <p><%= link_to t(".change_password"),
    edit_user_password_url(@user) %></p>
  <% else %>
    <p><%= link_to t(".show"), user_path(current_user) %></p>
  <% end %>
  </div>
</div>
